/* General Styles ****************/

body {
  background-color: lightblue;
}
h1{
  color: goldenrod;
  text-align: center;
}

h3, h4, h5 {
  color: goldenrod;
}

p {
  color: dimgrey;
}


footer {
  text-align: center;
  padding-top: 30px;
}
header {
  height: 800px;
  background-image: url("/images/bio-background2.png");
  background-size: cover;
}


/* Picture Styles */
.prof-pic {
  width: 500px;
  height: 250px;
  text-align: center;

}

/* article 2 *******************/
.resources {
  width: 100%;
  overflow: auto;
}

.resources img {
  width: 650px;
  height: 400px;
}

.mdn,
.css {
  display: inline-block;
  width: 46.5%;
}

.mdn {
  float: left;
}

.css {
  float: right;
}

/*Footer *************************/

.social-icon {
  height: 40px;
  width: 40px;
  margin: 0 5px;
}
